<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://todo-server.documents.azure.com:443/" />
        <add key="accountKey" value="mwKXSj2A6cTnGAjOjF7lRFa6DXdpXwQVSXBcblccNN9BmCJqJgaUnQAqSGwQTqScfn2kuYnvwvyAghM4zVrMWA==" />
      </appSettings>
</configuration>
